@font-face {
    font-family: 'inter' sans-serif;
    src:url('../font/EB_Garamond/static/EBGaramond-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'grotesk' sans-serif;
    src: url('../font/EB_Garamond/static/EBGaramond-SemiBold.ttf');
    font-weight: 600;
    
}
@font-face {
    font-family: 'grotesk' sans-serif;
    src: url('../font/EB_Garamond/static/EBGaramond-Regular.ttf');
    font-weight: 400;
    
}
body{
    font-family: 'grotesk' sans-serif; 
    font-weight: 400;
    font-size: 16px;
    background-color:#f9fbfd;
}
* {
    margin: 0px;
    padding: 0px;
}
.h1-font-phone {
    font-size:45px ;
    line-height: 60px;
    font-weight: 400;
    
}

.img-text {
    font-size: 90px;
    font-weight: 600;
    line-height: 40px;
}
.justify-content-spaes- {
    justify-content: space-around;
}
.div-icon {
    width: 30px;
    height: 30px;
}
.larq-section-img {
    background-image: url('../image/badminton.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.larq-section-img-one-man {
    background-image: url('../image/one\ man.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.font-size-small {
    font-size: 14px;
}

.goby-section-bg-img {
    background-image: url('../image/baseboll.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.trek-section-bg-img {
    background-image: url('../image/gym.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.shoes-section-bg-img {
    background-image: url('../image/shoes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bottled-section-bg-img {
    background-image: url('../image/bottled.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.foter-bg-color {
    background-color: #1b2a4e;
    letter-spacing: 0.5px;
}
.links-hedding {
    color: #506687;
    font-size: 12px;
}
.link-font-color {
    color: #869aa0;
    font-size: 16px;
}
.list-unstyled .text-decoration-none.link-font-color:hover {
    text-decoration: underline !important;
    color: #869aa0 ;
    
}
.paragraph-phone {
    font-size: 24px;
    line-height: 33px;
    color:#565962;
    letter-spacing: 0.5px;
}
.blue-text {
    color: #335eea ;
}
.wann-work-font-phone {
    font-size: 34px;
    line-height: 50px;
    font-weight: 400;
    color:#161c2d;
}

.top-bottum-spacing {
    padding-top:140px 0px 150px 0px;
    margin: 140px 0px 160px 0px;
}

.section-margin {
    margin: 70px 0px; 
}
.paragraph-text-color {
    color: #7788aa;
}
.container .navbar-toggler {
    border: none ;
}
.header-link {
    color: #506690;
}
.small-font {
    font-size: 12px;
}
.dropdown-menu.show {
    display: flex;
}
.nav-img-inside {
    background-image: url('../image/header-image.jpg');
    background-position: center;
    width: 320px;
    height: 320px;
}
.nav-div-inside {
    width: 320px;
    height: 320px;
    background-color: rgba(49, 46, 225, 0.6);
    color: #fff;
}
.btn.dropdown-toggle.show {
    display: flex;

}
.navbar-toggler:focus {
    box-shadow: none;
}
/* big-screem */


@media screen and (min-width:999px) {
    .section-1 {
        width: 50%;
    }
}
@media screen and (min-width:999px) {
    .paragraph {
        font-size: 30px;
        line-height: 42px;
        color:#565962;
        letter-spacing: 0.5px;
    }
}
.wann-work-font-phone {
    font-size: 34px;
    line-height: 50px;
    font-weight: 400;
    color:#161c2d;
}
@media screen and (min-width:999px) {
    .wann-work-font {
        font-size: 46px;
        line-height: 58px;
        font-weight: 400;
        color:#161c2d;
    }
    .paragraph {
        font-size: 30px;
        line-height: 42px;
        color:#565962;
        letter-spacing: 0.5px;
    }
    .section-1 {
        width: 50%;
    }
    .nav-whith {
        width: 75%;
    }
    .h1-font {
        font-size:65px ;
        line-height: 84px;
        font-weight: 400;
        letter-spacing: 1px;
    }
}
